@charset "UTF-8"; //解决GBK下中文不兼容问题
//游你由我主样式

/***********************变量、mixin等scss设置***********************/
$fontSize: 14px; //正文字体大小
$fontColor: #555; //正文默认字体颜色
$lineHeight: 1.5; //默认行高
$regionMargin: 30px; //各区块或区域间的margin，统一样式。
$yyBlue: #00a8ec; //主题用蓝色，主色调
$yyOrange: #FF5722; //主题用橘子色，副色调

@mixin opacity($opacity:0.5) { //透明度兼容，默认0.5
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}

@mixin transition($time:0.1,$fun:ease-in-out) { //过渡效果兼容，默认0.1s，默认function为ease-in-out
  -webkit-transition: all #{$time}s $fun;
  -o-transition: all #{$time}s $fun;
  -moz-transition: all #{$time}s $fun;
  transition: all #{$time}s $fun;
}

/***********************管理界面设置***********************/
ul.contextual-links {
  list-style: none;
}

body.admin-menu {
  #navbar {
    z-index: 400; //用以不挡住管理iframe
  }
}

#admin-menu {
  box-shadow: none; //管理菜单下阴影去除，方便开发
  z-index: 99999;
}

#admin-menu-wrapper {
  height: 27px; //解决admin menu的height长度bug
}

.alert { //用以解决nav条挡住管理提示的BUG
  z-index: 9999999;
  position: fixed;
  box-shadow: 0 0 8px grey;
  top: 100px;
  min-width: 200px;
  font-size: 16px;
}

.oneKeyAdmin { //一键隐藏/显示管理菜单的按钮
  border-radius: 50%;
  background: #F44336;
  color: #fff;
  width: 45px;
  height: 45px;
  border: none;
  position: fixed; //让其脱离文档流，不影响正常布局 //用fixed代替absolute，让其方便管理员操作
  top: 10%;
  left: 2%;
  box-shadow: 0 0 6px rgba(255, 87, 34, 0.7);
  @include transition();
  @include opacity(0.2);
  &:focus, &:hover {
    @include opacity(1);
  }
}

/***********************全局基础样式设置***********************/
body {
  font-family: "PingFang SC", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif; //兼容IOS
  font-size: $fontSize;
  color: #000;
  line-height: $lineHeight;
}

a {
  color: inherit;
  &:focus, &:hover {
    text-decoration: none;
  }
  &:hover {
    color: $yyBlue;
  }
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 { //覆写bootstrap默认样式
  margin-top: 6px;
  margin-bottom: 6px;
}

p {
  margin: 0 0 6px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 16px;
}

h2.block-title { //区块标题
  border-left: 4px solid #000;
  padding-left: 8px;
  margin-bottom: 20px;
}

.page-header {
  margin: 40px 0 40px;
  border-bottom: 0;
  border-left: 4px solid $yyBlue;
  line-height: 1;
  padding-left: 8px;
  padding-bottom: 0;
}

.clear_fix, .clearfix { //配合bootstrap清除浮动，都懂
  clear: both;
}
.flt_right{
  float:right;
}
.flt_left{
  float:left;
}

/***********************顶部导航条***********************/

#navbar {
  padding-left: 10px; //覆写bootstrap的15px
  position: fixed;
  left: 0;
  right: 0;
  margin: 10px auto;
  z-index: 1000;
  box-shadow: 0 0 6px rgba(51, 122, 183, 0.4); //nav的外发光 //0 0 即可将阴影做成外发光
}

.navbar-header {

  a.logo {
    img {
      height: 36px;
    }
  }
}

.navbar-btn {
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-brand {
  padding: 15px 20px 15px 30px;
}

.navbar-default {
  border: none;

  .dropdown-menu { //二级菜单
    > .active {
      a, a:hover, a:focus {
        color: #333;
      }
    }
  }
  a {
    &:hover, &:focus {
      .icon {
        @include opacity(1);
      }
    }
    .icon {
      margin-right: 4px;
      @include opacity(0);

    }
  }
  .navbar-brand {
    &:hover, &:focus {
      color: $yyOrange;
      @include transition(0.1);
    }
  }
  .navbar-nav {
    > li {
      > a:hover, > a:focus {
        color: $yyOrange;
        @include transition(0.1);
        span.icon {
          color: $yyOrange;
          @include transition(0.1);
        }
      }
    }
    .active {
      > a {
        background: none;
      }
      > a:hover, > a:focus {
        background: none;
        color: $yyOrange;
        @include transition(0.1);
      }
    }
  }
}

.nav {
  > li {
    > a {
      font-size: 16px;
    }
  }
}

ul.menu.nav.navbar-nav.secondary {
  float: right; //用户相关nav右浮动
}

ul.ajax-register-links.inline { //ajax注册登录
  margin: 0;
  float: right;
  li {
    float: left;
    a {
      color: $fontColor;
      font-size: 16px;
      padding: 15px;
      line-height: 20px;
      display: block;
      &:hover, &:focus {
        color: $yyOrange;
        @include transition(0.1);
      }
    }
  }
}

//解决ajax注册登录module的heightBug //在代码中使用!important并不好，具有强制性，不弹性，但是有时候没办法，少用即可。
#modalContent {
  top: 200px !important;
}

#modal-content {
  max-height: 700px !important;
}

/***********************首页幻灯片***********************/
.front {
  .container {
    //width:1000px;
  }

  .carousel-control {
    background: none !important; //去掉默认左右控制的背景
    .icon-prev, .icon-next {
      width: 54px;
      height: 54px;
      font-size: 48px;
      background: rgba(0, 168, 236, 0.7);
      border-radius: 50%;
      &:focus, &:hover {
        background: rgba(0, 168, 236, 1);
        outline: none;
      }
    }
  }
  .carousel-indicators {
    .active {
      background-color: $yyBlue;
      border: none;
    }
  }
}

/***********************单个商品详情页***********************/
.not-front.node-type-zhuoyou {
  .main-container.first {
    padding-top: 152px;
  }
}

.node-type-zhuoyou { //单个商品详情页
  .field-type-text, .field-name-field-catalog { //覆写tooltip.js导致的cursor错乱
    cursor: default;
  }
  .commerce-product-title { //主标题
    font-size: 28px;
  }
  .field-name-field-english-title { //英文副标题
    font-size: 20px;
    color: $fontColor;
    margin-bottom: 20px;
  }
  .commerce-product-field-field-image { //封面
    float: left;
    img:hover, img:focus {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
  .commerce-product-title-label { //去掉“标题：”
    display: none;
  }
  .field-name-field-catalog, .field-name-field-renshu, .field-name-field-shichang, .field-name-field-age {
    float: left;
    font-size: 28px;
    color: $fontColor;
    border-left: 4px solid $yyBlue;
    width: 20%;
    margin-top: 12px;
    margin-bottom: 30px;
    padding-left: 8px;
    line-height: 1;
  }
  button.form-submit, .attribute-widgets, .field-name-field-catalog, .field-name-field-shichang {
    margin-left: 36px;
  }
  .attribute-widgets, .form-item-quantity {
    float: left;
    width: 20%;
    margin-top: 20px;
    .control-label {
      border-top: 4px solid #ff7800;
      padding-top: 8px;
      font-size: 20px;
      line-height: 1;
      color: $fontColor;
    }
    input {
      width: 50%;
      font-size: 16px;
      height: 36px;
    }
    select {
      font-size: 16px;
      height: 36px;
    }
    .form-type-select {
      width: 54%;
    }
  }

  .field-name-body {
    clear: both;
    margin-top: 6px;
  }
  .commerce-product-field-commerce-price { //价签
    float: left;
    width: 16%;
    margin-top: 44px;
    margin-left: 64px;
    font-size: 33px;
    color: #F44336;
    .field-item {
      border-bottom: 4px solid #F44336;
      display: inline-block;
    }
  }
  .field-name-body {
    color: $fontColor;
  }
  button.form-submit { //加入购物车按钮，单个商品详情页覆写
    float: left;
    width: 14%;
    font-size: 22px;
    margin-top: 50px;
    height: 50px;
  }
}

.commerce-add-to-cart {
  button.form-submit { //加入购物车按钮
    //background: #000;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    text-decoration: none;
    color: $yyOrange;
    border: none;
    box-shadow: rgba(255, 87, 34, 0.6) 0 0 0 2px inset;
    &:hover {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: rgba(255, 87, 34, 0.89) 0 0 0 40px inset;
    }
  }
}

/***********************热门商品展示区块***********************/
.region-content-top-first, .region-content-top-second, .region-content-top-third, .region-content-top-fourth {
  margin-top: $regionMargin;
}

.view-id-zhuoyou {
  .zhuoyou-item {
    margin-bottom: $regionMargin;
    > a { //图像外链接
      display: inline-block;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
      &:hover {
        box-shadow: 0 0 10px rgba(51, 122, 183, 0.7);
      }
    }
  }
  h3 {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 0;
    span {
      margin-left: 6px;
      color: $yyOrange;
      font-weight: bold;
    }
  }
  .english_name {
    color: $fontColor;
  }
  .form-group {
    margin-bottom: 0;
  }
}

/***********************商品展示区块的owl-carousel设置***********************/
.view-content {
  .owl-theme {
    .owl-controls {
      .owl-buttons { //prev next按钮

        div { //按钮item
          position: absolute;
          top: 70px;
          padding: 2px 10px;
          font-size: 20px;
          background: $yyBlue;
          @include opacity(0);
          @include transition(0.2);
        }
        .owl-next {
          right: 0;
          &:hover {
            @include opacity(1);
          }
        }
        .owl-prev {
          left: 0;
          &:hover {
            @include opacity(1);
          }
        }
      }
      .owl-page {
        span {
          background: $yyBlue;
          @include opacity(0.3);
        }
      }
      .owl-page.active {
        span {
          background: $yyBlue;
        }
      }
    }
  }
  .owl-theme:hover {
    .owl-controls {
      .owl-buttons {
        div {
          @include opacity(0.8);

        }
      }
    }
  }
}

/***********************分类商品展示区块***********************/
.view-id-zhuoyou {
  p.price {
    color: $yyOrange;
    line-height: 1;
    font-weight: bold;
  }
  .owl-item {
    margin-top: 10px;
    img:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
}

/***********************桌游分类页面***********************/
.page-node-34 {
  .region-content-top-first,.region-content-top-second{
    margin-top: 4 * $regionMargin;
  }
  i#yizhi,i#juesebanyan,i#celue { //给每个分类埋下锚点，方便用hash定位。
    position: absolute;
    top: -100px; //负数即为原位置往上
  }
  h2.block-title {
    font-size: 22px;
    //display: inline-block;
    border-left: 0;
    padding-left: 0;
    text-align: center;
    i { //标题右边的小图标
      margin-left: 6px;
      position: relative;
      top: 2px;
      font-size: 18px;
    }
  }
  h4 { //商品英文名
    font-size: 12px;
    color: #555;
  }
  p {
    span.hl {
      color: #FF5722;
      font-weight: bold;
    }
  }
  .view-id-zhuoyou {
    box-shadow: 0 0 8px rgba(96, 125, 139, 0.25);
    padding: 10px;
  }
  table {
    img.img-responsive {
      box-shadow: 0 0 4px rgba(255, 87, 34, 0.75);
      &:hover {
        box-shadow: 0 0 8px rgba(255, 87, 34, 0.75);
      }
    }
    tbody:hover { //hover blur效果
      td {
        color: transparent;
        text-shadow: 0 0 3px #aaa;
        h3{
          text-shadow: 0 0 1px #aaa;
          color: transparent;
        }
        h4{
          text-shadow: 0 0 3px #555;
          color: transparent;
        }
        span.hl{
          text-shadow: 0 0 3px #FF5722;
          color: transparent;
        }
        img{
          -webkit-filter:blur(2px);
          filter:blur(2px);
        }
      }
      tr:hover{
        td{
          color:#555;
          text-shadow: 0 1px 0 #fff;
          h3{
            color:#000;
            text-shadow: 0 1px 0 #fff;
          }
          h4{
            color:#555;
            text-shadow: 0 1px 0 #fff;
          }
          span.hl{
            color:#FF5722;
            text-shadow: 0 1px 0 #fff;
          }
          img{
            -webkit-filter:blur(0px);
            filter:blur(0px);
          }
        }
      }
    }
  }
}
#affixNav{ //附加导航菜单fixed
  position: fixed;
  top: 34%;
  right: 2%;
  z-index: 99999; //需要在最上层
  h3{ //标题
    font-size:18px;
    font-weight:bold;
    color:rgba(121, 85, 72, 1);
    text-align: center;
    text-shadow: 0 0 3px #fff;
  }
  ul{
    border: 2px solid rgba(121, 85, 72, 0.6);
    border-radius: 16px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

  }
  font-size:16px;
  li{
    border-bottom:2px solid rgba(121, 85, 72, 0.5);
    i{
      margin-left:2px;
    }
    background:#f9f9f9;
    a:hover{
      background:#2196F3;
      color:#fff;
    }
  }
  li.active{
    border-top-right-radius: 16px;
    a{
      border-top-right-radius: 16px;
    }
  }
  li.bottom{
    border-bottom:0;
    border-bottom-left-radius: 16px;
    a{
      border-bottom-left-radius: 16px;
    }
  }
}

.table { //去掉table所有边框
  > thead, > tbody, > tfoot {
    > tr {
      > th, > td {
        border-top: 0;
        min-width: 170px; //解决文字排版
      }
    }
  }
}

/***********************Commerce电商环节***********************/
#edit-checkout,#edit-continue{ //结账按钮，继续按钮
  background: #ff772d;
  border:none;
  color:#fff;
  font-weight: bold;
  &:hover{
    background:$yyOrange;
  }
}
#edit-cancel,#edit-back{ //取消按钮，后退按钮
  border: 1px solid #9E9E9E;
  color: #555;
  padding-left: 10px;
  padding-right: 10px;
  &:hover{
    text-decoration: none;
    background:#777;
    color:#fff;
  }
}
fieldset.checkout-buttons.panel{
  border:none;
}

/***********************新闻列表页NewsShow***********************/
.view-id-news{ //新闻视图
  .news-item{
    margin-bottom:20px;
  }
  img{ //封面图
    box-shadow:1px 1px 6px #9E9E9E;
    &:hover{
      box-shadow:2px 2px 10px #607D8B;
    }
  }
  h3.title{
    font-size:22px;
    a{
      color:#333;
      @include transition();
    }
    &:hover{
      a{
        color:#fff;
        background:$yyBlue;
      }
    }
  }
  .zhaiyao{
    margin-top:20px;
    //margin-bottom:20px;
    color:#777;
  }
  a.more{
    font-size: 14px;
    color: $yyBlue;
    font-weight:bold;
    margin-bottom:20px;
    display: block; //必须设为block或inline-block才能使用margin
    &:hover{
      color:$yyOrange;
      @include transition();
    }
  }
  p.date{
    color:#777;
  }

}
.node-type-article{
  .col-sm-6{
    ul{
      padding-left:0;
    }
    a.colorbox{
      margin-bottom:20px;
      display: inline-block;
    }
    p.date{
      margin-top:50px;
      display: inline-block;
    }
  }
  h2.block-title{
    border-left:none;
    i{
      margin-right:4px;
      color:$yyOrange;
    }
  }
  .owl-item{
    img{
      &:hover{
        box-shadow:0 0 6px $yyOrange;
      }
    }
  }
  a.return{ //点击返回按钮
    display: block;
    height: 40px;
    color: #fff;
    background: #00a8ec;
    width: 190px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 2px;
    margin: 100px auto 0;
    @include transition(0.3);
    span{
      display: inline-block;
      position: relative;
      @include transition(0.3);
      &:after{
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        @include transition(0.3);
      }
    }
    &:hover{
      box-shadow:0 0 8px #555;
      span{
        padding-right: 15px;
        &:after{
          opacity: 1;
          right: 0;
        }
      }
    }
  }

}
/***********************购物车Cart***********************/
.page-cart{
  .region-content-top{
    margin-top:30px;
  }
  h2.block-title{
    border-left:none;
    i{
      margin-right:4px;
      color:$yyOrange;
    }
  }
  .owl-item{
    img{
      &:hover{
        box-shadow:0 0 6px $yyOrange;
      }
    }
  }
}

/***********************footer***********************/
footer#main { //使用main来区分主footer和其他footer
  margin-top: 2 * $regionMargin;
  padding-top: $regionMargin;
  padding-bottom: $regionMargin;
  background: #333;
  color: #fff;
  .intro {
    padding-right: 100px;
  }
  ul {
    li {
      list-style: inherit;
      color: #fff;
    }
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  P {
    color: #777;
  }

  .follow {
    p {
      max-width: 160px;
      text-align: center;
    }
    img.social {
      max-width: 160px;
      padding: 0; //去掉col-xs带来的左右padding15px
      margin-right: 20px;
      &:hover {
        box-shadow: 0 0 12px #607D8B;
      }
    }
  }
  .region-copyright { //CopyRight区域
    margin-top: $regionMargin/2;
    padding-top: $regionMargin/2;
    border-top: 1px solid #3a3a3a;
    p {
      color: #777;
      text-align: center;
    }
  }
}

/***********************Boostrap Accordion折叠***********************/
.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #EEEEEE;
}

.panel-default {
  .field-content {
    color: #555;
  }
  > .panel-heading {
    padding: 0;
    border-radius: 0;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
    a {
      font-weight: bold;
      font-size: 16px;
      color: #3F51B5;
      display: block;
      padding: 15px;
      text-decoration: none;
    }
  }
}

.more-less { //icon控制
  float: right;
  color: #3F51B5;
}

