@charset "UTF-8"; //解决GBK下中文不兼容问题
//游你由我主样式

/***********************变量、mixin等scss设置***********************/
$fontSize: 14px; //正文字体大小
$fontColor: #555; //正文默认字体颜色
$lineHeight: 1.5; //默认行高
$regionMargin: 30px; //各区块或区域间的margin，统一样式。
$yyBlue: #00a8ec; //主题用蓝色，主色调
$yyOrange: #FF5722; //主题用橘子色，副色调

@mixin opacity($opacity:0.5) { //透明度兼容，默认0.5
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100);
}

@mixin transition($time:0.1,$fun:ease-in-out) { //过渡效果兼容，默认0.1s，默认function为ease-in-out
  -webkit-transition: all #{$time}s $fun;
  -o-transition: all #{$time}s $fun;
  -moz-transition: all #{$time}s $fun;
  transition: all #{$time}s $fun;
}

/***********************管理界面设置***********************/
body.admin-menu {
  #navbar {
    z-index: 400; //用以不挡住管理iframe
  }
}

#admin-menu {
  box-shadow: none; //管理菜单下阴影去除，方便开发
  z-index: 99999;
}

#admin-menu-wrapper {
  height: 27px; //解决admin menu的height长度bug
}

.alert { //用以解决nav条挡住管理提示的BUG
  z-index: 9999999;
  position: fixed;
  box-shadow: 0 0 8px grey;
  top: 100px;
  min-width: 200px;
  font-size: 16px;
}

.oneKeyAdmin { //一键隐藏/显示管理菜单的按钮
  border-radius: 50%;
  background: #F44336;
  color: #fff;
  width: 45px;
  height: 45px;
  border: none;
  position: absolute; //让其脱离文档流，不影响正常布局
  top: 10%;
  left: 2%;
  box-shadow: 0 0 6px rgba(255, 87, 34, 0.7);
  @include transition();
}

/***********************全局基础样式设置***********************/
body {
  font-family: "PingFang SC", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif; //兼容IOS
  font-size: $fontSize;
  color: #000;
  line-height: $lineHeight;
}

a {
  color: inherit;
  &:focus, &:hover {
    text-decoration: none;
  }
  &:hover {
    color: $yyBlue;
  }
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 { //覆写bootstrap默认样式
  margin-top: 6px;
  margin-bottom: 6px;
}

p {
  margin: 0 0 6px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 16px;
}

h2.block-title { //区块标题
  border-left: 4px solid #000;
  padding-left: 8px;
  margin-bottom: 20px;
}

.clear_fix, .clearfix { //配合bootstrap清除浮动，都懂
  clear: both;
}

/***********************顶部导航条***********************/
#navbar {
  padding-left: 10px; //覆写bootstrap的15px
  position: fixed;
  left: 0;
  right: 0;
  margin: 10px auto;
  z-index: 1000;
  box-shadow: 0 0 6px rgba(51, 122, 183, 0.4); //nav的外发光 //0 0 即可将阴影做成外发光
}

.navbar-header {
  a.logo {
    img {
      height: 36px;
    }
  }
}

.navbar-btn {
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-brand {
  padding: 15px 20px 15px 30px;
}

.navbar-default {
  border: none;
  .navbar-brand {
    &:hover, &:focus {
      color: $yyOrange;
      @include transition(0.1);
    }
  }
  .navbar-nav {
    > li {
      > a:hover, > a:focus {
        color: $yyOrange;
        @include transition(0.1);
      }
    }
    .active {
      > a {
        background: none;
      }
      > a:hover, > a:focus {
        background: none;
        color: $yyOrange;
        @include transition(0.1);
      }
    }
  }
}

.nav {
  > li {
    > a {
      font-size: 16px;
    }
  }
}

ul.menu.nav.navbar-nav.secondary {
  float: right; //用户相关nav右浮动
}

ul.ajax-register-links.inline { //ajax注册登录
  margin: 0;
  float: right;
  li {
    float: left;
    a {
      color: $fontColor;
      font-size: 16px;
      padding: 15px;
      line-height: 20px;
      display: block;
      &:hover, &:focus {
        color: $yyOrange;
        @include transition(0.1);
      }
    }
  }
}

//解决ajax注册登录module的heightBug //在代码中使用!important并不好，具有强制性，不弹性，但是有时候没办法，少用即可。
#modalContent {
  top: 200px !important;
}

#modal-content {
  max-height: 700px !important;
}

/***********************首页幻灯片***********************/
.front {
  .container {
    //width:1000px;
  }

  .carousel-control {
    background: none !important; //去掉默认左右控制的背景
    .icon-prev, .icon-next {
      width: 54px;
      height: 54px;
      font-size: 48px;
      background: rgba(0, 168, 236, 0.7);
      border-radius: 50%;
      &:focus, &:hover {
        background: rgba(0, 168, 236, 1);
        outline: none;
      }
    }
  }
  .carousel-indicators {
    .active {
      background-color: $yyBlue;
      border: none;
    }
  }
}

/***********************单个商品详情页***********************/
.not-front.node-type-zhuoyou {
  .main-container.first {
    padding-top: 152px;
  }
}

.node-type-zhuoyou { //单个商品详情页
  .field-type-text, .field-name-field-catalog { //覆写tooltip.js导致的cursor错乱
    cursor: default;
  }
  .commerce-product-title { //主标题
    font-size: 28px;
  }
  .field-name-field-english-title { //英文副标题
    font-size: 20px;
    color: $fontColor;
    margin-bottom: 20px;
  }
  .commerce-product-field-field-image { //封面
    float: left;
    img:hover, img:focus {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
  .commerce-product-title-label { //去掉“标题：”
    display: none;
  }
  .field-name-field-catalog, .field-name-field-renshu, .field-name-field-shichang, .field-name-field-age {
    float: left;
    font-size: 28px;
    color: $fontColor;
    border-left: 4px solid $yyBlue;
    width: 20%;
    margin-top: 12px;
    margin-bottom: 30px;
    padding-left: 8px;
    line-height: 1;
  }
  button.form-submit, .attribute-widgets, .field-name-field-catalog, .field-name-field-shichang {
    margin-left: 36px;
  }
  .attribute-widgets, .form-item-quantity {
    float: left;
    width: 20%;
    margin-top: 20px;
    .control-label {
      border-top: 4px solid #ff7800;
      padding-top: 8px;
      font-size: 20px;
      line-height: 1;
      color: $fontColor;
    }
    input {
      width: 50%;
      font-size: 16px;
      height: 36px;
    }
    select {
      font-size: 16px;
      height: 36px;
    }
    .form-type-select {
      width: 54%;
    }
  }

  .field-name-body {
    clear: both;
    margin-top: 6px;
  }
  .commerce-product-field-commerce-price { //价签
    float: left;
    width: 16%;
    margin-top: 44px;
    margin-left: 64px;
    font-size: 33px;
    color: #F44336;
    .field-item {
      border-bottom: 4px solid #F44336;
      display: inline-block;
    }
  }
  .field-name-body {
    color: $fontColor;
  }
  button.form-submit { //加入购物车按钮，单个商品详情页覆写
    float: left;
    width: 14%;
    font-size: 22px;
    margin-top: 50px;
    height: 50px;
  }
}

.commerce-add-to-cart {
  button.form-submit { //加入购物车按钮
    //background: #000;
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    text-decoration: none;
    color: $yyOrange;
    border: none;
    box-shadow: rgba(255, 87, 34, 0.6) 0 0 0 2px inset;
    &:hover {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: rgba(255, 87, 34, 0.89) 0 0 0 40px inset;
    }
  }
}

/***********************热门商品展示区块***********************/
.region-content-top-first,.region-content-top-second,.region-content-top-third,.region-content-top-fourth {
  margin-top: $regionMargin;
}

.view-id-zhuoyou {
  .zhuoyou-item {
    margin-bottom: $regionMargin;
    > a { //图像外链接
      display: inline-block;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
      &:hover {
        box-shadow: 0 0 10px rgba(51, 122, 183, 0.7);
      }
    }
  }
  h3 {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 0;
    span {
      margin-left: 6px;
      color: $yyOrange;
      font-weight: bold;
    }
  }
  .english_name {
    color: $fontColor;
  }
  .form-group {
    margin-bottom: 0;
  }
}

/***********************商品展示区块的owl-carousel设置***********************/
.view-content {
  .owl-theme {
    .owl-controls {
      .owl-buttons { //prev next按钮

        div { //按钮item
          position: absolute;
          top: 70px;
          padding: 2px 10px;
          font-size: 20px;
          background: $yyBlue;
          @include opacity(0);
          @include transition(0.2);
        }
        .owl-next {
          right: 0;
          &:hover {
            @include opacity(1);
          }
        }
        .owl-prev {
          left: 0;
          &:hover {
            @include opacity(1);
          }
        }
      }
      .owl-page {
        span {
          background: $yyBlue;
          @include opacity(0.3);
        }
      }
      .owl-page.active {
        span {
          background: $yyBlue;
        }
      }
    }
  }
  .owl-theme:hover {
    .owl-controls {
      .owl-buttons {
        div {
          @include opacity(0.8);

        }
      }
    }
  }
}

/***********************分类商品展示区块***********************/
.view-id-zhuoyou {
  p.price {
    color: $yyOrange;
    line-height:1;
    font-weight:bold;
  }
  .owl-item{
    margin-top:10px;
    img:hover{
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
}
/***********************footer***********************/
footer#main{ //使用main来区分主footer和其他footer
  margin-top:2 * $regionMargin;
  padding-top:$regionMargin;
  padding-bottom:$regionMargin;
  background:#333;
  color:#fff;
  .intro{
    padding-right:100px;
  }
  ul{
    li{
      list-style:inherit;
      color:#fff;
    }
  }
  h3{
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
  }
  P{
    color:#777;
  }

  .follow{
    p{
      max-width:160px;
      text-align: center;
    }
    img.social{
      max-width:160px;
      padding:0; //去掉col-xs带来的左右padding15px
      margin-right:20px;
      &:hover{
        box-shadow: 0 0 12px #607D8B;
      }
    }
  }
  .region-copyright{ //CopyRight区域
    margin-top:$regionMargin/2;
    padding-top:$regionMargin/2;
    border-top:1px solid #3a3a3a;
    p{
      color:#777;
      text-align: center;
    }
  }
}
