@charset "UTF-8";
/*游你由我主样式*/
body.admin-menu #navbar {
  z-index: 400; }

#admin-menu {
  box-shadow: none;
  z-index: 99999; }

#admin-menu-wrapper {
  height: 27px; }

.alert {
  z-index: 9999999;
  position: fixed;
  box-shadow: 0 0 8px grey;
  top: 100px;
  min-width: 200px;
  font-size: 16px; }

.oneKeyAdmin {
  border-radius: 50%;
  background: #F44336;
  color: #fff;
  width: 45px;
  height: 45px;
  border: none;
  position: absolute;
  top: 10%;
  left: 2%;
  box-shadow: 0 0 6px rgba(255, 87, 34, 0.7);
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

body {
  font-family: "PingFang SC", "Microsoft Yahei", "微软雅黑", STHeiti, "华文细黑", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.5; }

a {
  color: inherit; }
  a:focus, a:hover {
    text-decoration: none; }
  a:hover {
    color: #00a8ec; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 6px;
  margin-bottom: 6px; }

p {
  margin: 0 0 6px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 16px; }

h2.block-title {
  border-left: 4px solid #000;
  padding-left: 8px;
  margin-bottom: 20px; }

.clear_fix, .clearfix {
  clear: both; }

#navbar {
  padding-left: 10px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 10px auto;
  z-index: 1000;
  box-shadow: 0 0 6px rgba(51, 122, 183, 0.4); }

.navbar-header a.logo img {
  height: 36px; }

.navbar-btn {
  margin-top: 7px;
  margin-bottom: 7px; }

.navbar-brand {
  padding: 15px 20px 15px 30px; }

.navbar-default {
  border: none; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #e67e22;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #e67e22;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .navbar-default .navbar-nav .active > a {
    background: none; }
  .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
    background: none;
    color: #e67e22;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }

.nav > li > a {
  font-size: 16px; }

ul.menu.nav.navbar-nav.secondary {
  float: right; }

ul.ajax-register-links.inline {
  margin: 0;
  float: right; }
  ul.ajax-register-links.inline li {
    float: left; }
    ul.ajax-register-links.inline li a {
      color: #555;
      font-size: 16px;
      padding: 15px;
      line-height: 20px;
      display: block; }
      ul.ajax-register-links.inline li a:hover, ul.ajax-register-links.inline li a:focus {
        color: #e67e22;
        -webkit-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }

#modalContent {
  top: 200px !important; }

#modal-content {
  max-height: 700px !important; }

.front .carousel-control {
  background: none !important; }
  .front .carousel-control .icon-prev, .front .carousel-control .icon-next {
    width: 54px;
    height: 54px;
    font-size: 48px;
    background: rgba(0, 168, 236, 0.7);
    border-radius: 50%; }
    .front .carousel-control .icon-prev:focus, .front .carousel-control .icon-prev:hover, .front .carousel-control .icon-next:focus, .front .carousel-control .icon-next:hover {
      background: #00a8ec;
      outline: none; }
.front .carousel-indicators .active {
  background-color: #00a8ec;
  border: none; }

.not-front.node-type-zhuoyou .main-container.first {
  padding-top: 152px; }

.node-type-zhuoyou .field-type-text, .node-type-zhuoyou .field-name-field-catalog {
  cursor: default; }
.node-type-zhuoyou .commerce-product-title {
  font-size: 28px; }
.node-type-zhuoyou .field-name-field-english-title {
  font-size: 20px;
  color: #555;
  margin-bottom: 20px; }
.node-type-zhuoyou .commerce-product-field-field-image {
  float: left; }
  .node-type-zhuoyou .commerce-product-field-field-image img:hover, .node-type-zhuoyou .commerce-product-field-field-image img:focus {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }
.node-type-zhuoyou .commerce-product-title-label {
  display: none; }
.node-type-zhuoyou .field-name-field-catalog, .node-type-zhuoyou .field-name-field-renshu, .node-type-zhuoyou .field-name-field-shichang, .node-type-zhuoyou .field-name-field-age {
  float: left;
  font-size: 28px;
  color: #555;
  border-left: 4px solid #00a8ec;
  width: 20%;
  margin-top: 12px;
  margin-bottom: 30px;
  padding-left: 8px;
  line-height: 1; }
.node-type-zhuoyou button.form-submit, .node-type-zhuoyou .attribute-widgets, .node-type-zhuoyou .field-name-field-catalog, .node-type-zhuoyou .field-name-field-shichang {
  margin-left: 36px; }
.node-type-zhuoyou .attribute-widgets, .node-type-zhuoyou .form-item-quantity {
  float: left;
  width: 20%;
  margin-top: 20px; }
  .node-type-zhuoyou .attribute-widgets .control-label, .node-type-zhuoyou .form-item-quantity .control-label {
    border-top: 4px solid #ff7800;
    padding-top: 8px;
    font-size: 20px;
    line-height: 1;
    color: #555; }
  .node-type-zhuoyou .attribute-widgets input, .node-type-zhuoyou .form-item-quantity input {
    width: 50%;
    font-size: 16px;
    height: 36px; }
  .node-type-zhuoyou .attribute-widgets select, .node-type-zhuoyou .form-item-quantity select {
    font-size: 16px;
    height: 36px; }
  .node-type-zhuoyou .attribute-widgets .form-type-select, .node-type-zhuoyou .form-item-quantity .form-type-select {
    width: 54%; }
.node-type-zhuoyou .field-name-body {
  clear: both;
  margin-top: 6px; }
.node-type-zhuoyou .commerce-product-field-commerce-price {
  float: left;
  width: 16%;
  margin-top: 44px;
  margin-left: 64px;
  font-size: 33px;
  color: #F44336; }
  .node-type-zhuoyou .commerce-product-field-commerce-price .field-item {
    border-bottom: 4px solid #F44336;
    display: inline-block; }
.node-type-zhuoyou .field-name-body {
  color: #555; }
.node-type-zhuoyou button.form-submit {
  float: left;
  width: 14%;
  font-size: 22px;
  margin-top: 50px;
  height: 50px; }

.commerce-add-to-cart button.form-submit {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  text-decoration: none;
  color: #e67e22;
  border: none;
  box-shadow: rgba(255, 87, 34, 0.6) 0 0 0 2px inset; }
  .commerce-add-to-cart button.form-submit:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(255, 87, 34, 0.89) 0 0 0 40px inset; }

.region-content-top-first {
  margin-top: 30px; }

.view-id-zhuoyou .zhuoyou-item {
  margin-bottom: 30px; }
  .view-id-zhuoyou .zhuoyou-item > a {
    display: inline-block;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4); }
    .view-id-zhuoyou .zhuoyou-item > a:hover {
      box-shadow: 0 0 10px rgba(51, 122, 183, 0.7); }
.view-id-zhuoyou h3 {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 0; }
  .view-id-zhuoyou h3 span {
    margin-left: 6px;
    color: #FF5722;
    font-weight: bold; }
.view-id-zhuoyou .english_name {
  color: #555; }
.view-id-zhuoyou .form-group {
  margin-bottom: 0; }

/*# sourceMappingURL=style.css.map */
